@model Data.Models.AdminData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdminData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
